include _lib

doctype
html(lang="en")
    head
        script(src='/src/cupdev.js')
        link(rel="stylesheet",href="/style/site.css",type="text/css")
        meta(charset='utf-8')
        block head
    body.bg
        /////| HEAD ---------------------------------------------------------
        include _header

        /////| BODY TEXT ----------------------------------------------------

        .body
            mixin GET(page.metadata.fetch)
            block body
            mixin GET(page.metadata.fetch_post)

        /////| FOOT ----------------------------------------------------------
        include _footer
