doctype
html(lang="en")
    head
        title Fuu
        link(rel="stylesheet",href="style/bootstrap.css",type="text/css")
        meta(charset='utf-8')
        block head
    body.bg
        /////| HEAD ---------------------------------------------------------
        include _header

        /////| BODY TEXT ----------------------------------------------------

        .body
            block body

        /////| FOOT ----------------------------------------------------------
        include _footer
