include _lib

doctype
html(lang="en")
    head
        script(src='/src/cupdev.js')
        link(rel="stylesheet",href="/style/site.css",type="text/css")
        meta(charset='utf-8')
        block head
    body.bg
        include _header

        .body
            block body

        include _footer
