include _lib

doctype
html(lang="en")
    head
        script(src='/src/cupdev.js')
        link(rel="stylesheet",href="/style/site.css",type="text/css")
        meta(charset='utf-8')
        block head
    body.bg
        include _header

        .body
            - if (page.metadata.fetch)
              = widx.GET(page.metadata.fetch)
            block body
            - if (page.metadata.fetch_post)
              = widx.GET(page.metadata.fetch_post)

        include _footer

