.navbar.navbar-inverse.navbar-static-top
    .navbar-inner
      a(href="/").brand Cupdev
      ul.nav
        li: a(href="/blog/")     Blog
        li: a(href="/projects/") Projects
        li: a(href="/hosted/")   On Cupdev
        li: a(href="/links/")    Links
        li: a(href="/about/")    About Me
