mixin GET(url)
  - if (url)
    - console.log("GET:", url)
    #{String(httpsync.get(url).end().data)}

mixin rendrtags(tags)
  | Tags:
  ul
    each tag in widx.wordlist(tags)
      li
        a(href="/search?tag=#{tag}")= tag

mixin rendrsec(sec)
  | Category:
  - var rndrsec_itt=0;
  each dir in widx.treesec(sec)
    if rendrsec_itt
      | /
    else
      - rendrsec_itt=1;
    a(href="/search?sec=#{dir.path}")= dir.name
