mixin GET(url)
  - if (url)
    - console.log("GET:", url)
    #{String(httpsync.get(url).end().data)}

mixin rendrtags(tags)
  if (tags)
    | Tags:
    | &nbsp;
    ul
      each tag in widx.wordlist(tags)
        li
          a(href="/search?tag=#{tag}")= tag

mixin rendrsec(sec)
  if !sec
    - sec="none"

  | Category:
  | &nbsp;
  each dir in widx.treesec(sec)
    if dir.depth
      | /
    a(href="/search?sec=#{dir.path}")= dir.name
