extends _framework

block head

block body
  != page.html
  each post in widx.embed(page.parent)
    if (post != page)
      .article-wrap
        .article.embed-article
          h2.title
            a(href=post.url)
              = post.title
          span.text
            !{post.html}

          mixin metadata(post.metadata)

          .comments
            h4 Comments: 
            a(href="mailto:blog-comments.karo@cupdev.net", title="Write a comment") Write a comment
          
