extends _framework


block head
  script(src='src/blog.js')

block body
  != page.html
  each post in widx.embed(page.parent)
    if (post != page)
      .article
        h2
          a(href=post.url)
            = post._metadata.title
        = post._content
