extends _framework
include _lib

block head

block body
  != page.html
  each post in widx.embed(page.parent)
    if (post != page)
      .article-wrap
        .article.embed-article
          h2.title
            a(href=post.url)
              = post.title
          span.text !{post.metadata.blurb ? post.metadata.blurb : post.html}

          include comments/comments-overview
