extends _framework


block head
  script(src='src/blog.js')

block body

  .one-article
    .lmeta.date
      = page.date
    .lmeta.tags
      mixin rendrtags(page.metadata.tags)
    
    h2.title
      = page.title
    span.text
      != page.html
