extends _framework


block head
  script(src='src/blog.js')

block body
  .article-wrap
    .article.one-article
      h2.title
        = page.title
      span.text
        != page.html

      mixin metadata(page.metadata)

      .comments
        h4 Comments:
        a(href="mailto:blog-comments.karo@cupdev.net", title="Write a comment") Write a comment
