!!!
title
  head
    title Redirect
    meta(http-equiv="REFRESH", content="0;url=#{page.title}")
  body
    | This is not the website you are looking for.
    | You are looking for:
    a(href="#{page.title}")= page.title
  
