// Typography
// -------------------------
@sansFontFamily:  Roboto, "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans", Arial, "Ubuntu", sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily:  Menlo, Monaco, "Courier New", "Courier", "Ubuntu Mono", Consolas, monospace;

@baseFontFamily: @sansFontFamily;
@baseFontSize:   17px;
@baseLineHeight: 26px;

@altFontFamily: "Tillium Web", @sansFontFamily;

@cannonFontFamily:    'Montserrat', @altFontFamily; 
@cannonFontSize:      40pt;
@cannonFontTransform: capitalize;

@headingsFontFamily: @altFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight: bold;    // instead of browser default, bold
@headingsColor:      inherit; // empty to use BS default, @textColor

