@import "bootstrap";

.matrix li {
  margin: 0.8em;
  display: inline-block;
                    
}
.matrix {
  text-align: center;
  display: block;
}

.article {
  margin: 40px;
  padding: 15px;
  background: @bodyBackground;
  border: 1px solid black;
  .border-stripes();
}

