@import "bootstrap";

.onearticle#links {
  padding: -30000px;
}

.matrix li {
  margin: 0.8em;
  display: inline-block;

  p {
    margin: 0px;
    padding: 0px;
  }  
}
.matrix {
  text-align: center;
  display: block;
}

.article {
  margin: 40px;
  padding: 15px;
  background: @bodyBackground;
  border: 1px solid black;
  .border-stripes();

  .title {
    margin-right: 15px;
    line-height: 1em;
    display: inline;
  }

  .littlemeta {
    font-family: @sansFontFamily;
    font-size: small;
    line-height: 1em;
  }

  .text {
    display: block;
    clear: both;
    padding-top: 20px;
  }

  .head {
    display: block;
  }
}

