@import "_bootstrap";
@import "_highlight";

#links {
  // TODO: Make relative?
  margin-left: -45px;
  margin-right: -25px;
}

.matrix li {
  margin: 0.8em;
  display: inline-block;

  p {
    margin: 0px;
    padding: 0px;
  }
}
.matrix {
  text-align: center;
  display: block;
}

body {
  font-family: 'Vollkorn';
  padding-top: 70px; // Navbar

  text-align: center;
}

code {
  font-family: "SourceCodePro";
  font-weight: 600;
}

.navbar {
  font-family: "Titillium Web";
  font-weight: 600;

  background: white;

  border-bottom: 1px solid rgba(0,0,0,0.08);

  .navbar-brand {
    margin-right: 30px;
    font-weight: 700;
  }

  a {
    color: #111;
  }
}

.article {
  display: inline-block;
  padding: 30px;

  text-align: left;

  max-width: 900px;

  .title {
    margin-right: 15px;
    line-height: 1em;
    display: inline;
  }

  .text {
    font-size: 11pt;

    display: block;
    clear: both;
    padding-top: 20px;

    code {
      background: none;
    }

    pre {
      background: #FDFDFD;
      margin: 1.3em;

      border: 1px solid rgba(0,0,0,0.08);

      display: inline-block;
    }
  }

  .ornwrap {
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.comments {

  margin-top: 5em;

  .write-a-comment {
    font-size: 130%;
  }

  // Hide the big comments header
  &>.ornwrap:first-child {
    display: none;
  }

  .comment {
    margin-bottom: 3em;
  }

  .comment-body {
    padding-left: 1em;
    padding-right: 1em;
  }

  .comment-meta {
    margin-bottom: 2em;

    * {
      display: inline;

      margin-left:  1em;
      margin-right: 1em;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    .comment-name:before {
      content: "Comment from "
    }

    .ornwrap {
      margin: 0px;
      text-align: inherit;
    }

    border-bottom: 1px solid rgba(0,0,0,0.18);
  }
}

.comments-overview {
  margin-top: 2em;
  font-size: 130%;

  * {
    display: inline;

    &:after {
      content: " ~ ";
    }

    &:last-child:after {
      content: "";
    }
  }
}

dl.meta {
  font-family: "SourceCodepro";
  font-size: xx-small;
  line-height: 1em;
  text-align: left;

  max-width: 500px;

  padding: 7px;

  border: 1px solid rgba(0,0,0,0.18);
  border-left: none;
  border-right: none;

  margin-top: 20px;

  li, ul {
    list-style: none;
    display: inline;
    padding: 0px;
  }

  dt, dd {
    display: inline;
  }

  dt {
    margin-right: 0.4em;
    white-space: pre;

    &:before {
      content: '\A';
    }
  }

  .meta-cat li:after {
    content: "/";
  }
  .meta-tag li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }

  dt.meta-date {
    display: none;
  }

  dd.meta-date {
    line-height: 1.8em;
    padding-left: 0.2em;
  }
}

.embed-article {
  padding: 0px 20px;
}

.article-wrap {
  &:after {
    background: url("/media/ornament_straight.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    width: 60%;
    height: 20px;

    content: "";
    display: block;
    margin: 60px auto;
    margin-top: 40px;
  }

  &:last-child:after {
    margin: none;
    background: none;
    width: 0px;
    height: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @serifFontFamily;

  text-align: left;

  color: @textColor;
  a {
    color: @textColor;
    &:hover {
      text-decoration: none;
    }
  }
}

h1 {
  width: 70%;
  text-align: center;
}

.graphic-comment {
  font-family: "SourceCodePro";
  color: #AAA;

  &:before {
    content: "// ";
  }
}

.betabar {
  font-family: @sansFontFamily;

  width: 100%;
  padding: 0.4em;
  font-size: x-large;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 2px #300;
  color: #FF1;
  border: 1px solid #300;

  .bg-stripes(@color1: #F90, @color2: #F30, @size: 60px, @blend: 1);

  &:before {
    content: "";
    #gradient > .vertical(rgba(0,0,0,0.0),rgba(0,0,0,0.32));
    position: absolute;
    top:    (0);
    bottom: (0);
    left:   (0);
    right:  (0);
    z-index: +10;
  }
}

hr {
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,0.18);
}

.icon-bar {
  background-color: rgba(0,0,0,0.08);
}

.navbar-toggle {
  border: 1px solid rgba(0,0,0,0.08);
}

pre, blockquote {
  font-size: 9.5pt;
}
