---
title: 'Links'
template: 'site.jade'
---

#links
  ul.matrix.cannon
    li: a(title="My Podcast", href="http://nachtschmoker.org")
      :markdown
        Nacht&shy;schmo&shy;ker Pod&shy;cast
    li: a(href="https://twitter.com/Mappleconfusers")
      | Twitter
    li: a(title="for Donations", href="https://flattr.com/profile/mappleconfusers")
      | Flattr
    li: a(href="https://www.youtube.com/user/Mappleconfusers")
      | YouTube
    li: a(title="My Tumbleblog", href="http://mappleconfusers.soup.io/")
      | Soup
    li: a(href="https://alpha.app.net/kora", rel="me", title="My app.net account")
      | app.net
    li: a(href="https://www.xing.com/profile/Michael_Varner")
      | XING
    li: a(href="https://github.com/koraa")
      | Github

  hr

  ul.matrix.cannon
    li: a(title="Sauerbraten game server", href="https://nooblounge.net/")
      :markdown
        Noob&shy;lounge
    li: a(title="Minecraft game server", href="http://felswerk.org")
      :markdown
        Fels&shy;werk
    li: a(title="Cupdev project management", href="https://forge.cupdev.net")
      | Redmine
