title = 'Links'
template = 'site.jade'


.article
  ul.matrix
    li: a(title="My Podcast", href="http://nachtschmoker.org")
      | Nachtschmoker Podcast
    li: a(href="https://twitter.com/Mappleconfusers")
      | Twitter
    li: a(title="for Donations", href="https://flattr.com/profile/mappleconfusers")
      | Flattr
    li: a(href="https://www.youtube.com/user/Mappleconfusers")
      | YouTube
    li: a(title="My Tumbleblog", href="http://mappleconfusers.soup.io/")
      | Soup
    li: a(href="https://www.xing.com/profile/Michael_Varner")
      | XING

  hr

  ul.matrix
    li: a(title="Sauerbraten game server", href="https://nooblounge.net/")
      | Nooblounge
    li: a(title="Minecraft game server", href="http://felswerk.org")
      | Felswerk
    li: a(title="Cupdev project management")
      | Redmine
